.logs-container {
    display: flex;
    background-color: #f4f4f4;
    border: 2px #e3e3e3 solid;
    border-radius: 40px 40px 0px 0px;
    width: 25em;
    padding: 10px 30px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: calc(2.5em + 40px);
    height: fit-content;
    transition: height 300ms ease;
}

.log {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 50px;
    max-height: 20em;
    overflow-y: scroll;
}
