.logs-container {
    display: flex;
    background-color: #f4f4f4;
    border: 2px #e3e3e3 solid;
    border-radius: 40px 40px 0px 0px;
    width: 25em;
    padding: 10px 30px;
    border-bottom: none;
    display: flex;
}
