#root {
    margin: 0 auto;
    padding: 0;
    overflow: none;
}
body {
    height: 100vh;
    font-family:
        Instrument Sans,
        sans-serif;
    overflow-y: hidden;
}

.button {
    height: 2.5em;
    width: fit-content;
    color: white;
    font-size: 2em;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
}
.button:hover {
    filter: opacity(0.8);
}
.button:active {
    filter: brightness(0.7);
}

.tool {
    height: 2.5em;
    width: 2.5em;
    color: white;
    font-size: 2em;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #0e0e0e;
}

.topbar {
    width: 95%;
    height: fit-content;
    border: 2px solid;
    border-bottom: 4px solid;
    margin-top: 1vw;
    padding: 0.5vw;
    padding-inline: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
