#root {
    margin: 0 auto;
    padding: 0;
}
body {
    height: 100vh;
}

.button {
    height: 100%;
    width: fit-content;
    color: white;
    font-size: 2em;
    padding: 10px 20px;
    border: none;
}
