.container {
    background-color: black;
    height: 100%;
    max-height: 80vh;
    width: calc(100% - 100px);
    background-color: #f4f4f4;
    border: solid 2px #e4e4e4;
    border-radius: 20px;
    margin-block: 30px;
    overflow: scroll;
    padding: 50px;
}
